@use './mixins' as *;
@use "sass:color" as *;

::selection {
	background-color: v("blueBright");
}

%container {
	padding: 0 max(32px, 50vw - 1280px / 2);
}

.menu {
	@extend %container;
	padding-top: clamp(32px, (56 / 1280) * 100vw, 56px);
	padding-bottom: clamp(32px, (56 / 1280) * 100vw, 56px);
}

.footer {
	@extend %container;
	background-color: v("blueDark");
	color: v("white");
	padding-top: clamp(73px, 86 / 768 * 100vw, 86px);
	padding-bottom: 86px;
	display: flex;
	align-items: flex-start;

	@media screen and (max-width: 768px) {
		display: block;
	}

	> * {
		flex: 1 1 auto;
	}

	svg {
		fill: v("white");
		filter: contrast(10);
	}

	a {
		transition: opacity 0.2s ease;

		&:hover,
		&:focus {
			opacity: 0.5;
		}
	}
}

.nav {
	display: flex;
	align-items: center;

	&__item {
		display: inline-block;
		font-family: Raleway, sans-serif;

		&--logo {
			margin-right: auto;

			> svg {
				width: 166px;
				height: 49px;

				@media screen and (max-width: 768px) {
					width: 115px;
					height: 35px;
				}
			}
		}

		&:not(.nav__item--logo) {
			padding-left: 56px;

			@media screen and (max-width: 768px) {
				padding-left: 32px;
			}
		}
	}

	&--footer {
		display: block;
		columns: 2 56px;
		padding-top: 73px;

		@media screen and (max-width: 768px) {
			columns: 1;
		}

		a {
			display: block;

			+ a {
				margin-top: 1em;
			}
		}
	}
}

.address {
	font-style: normal;

	> a {
		display: block;

		&:first-child {
			margin-bottom: 24px;

			svg {
				width: 166px;
				height: 49px;
			}
		}

		+ a {
			margin-top: 16px;

			svg {
				width: 1em;
				height: 1em;
			}
		}
	}

	span {
		margin-left: 1rem;
	}
}

.social {
	display: flex;
	padding-top: 73px;
	@media screen and (max-width: 768px) {
		justify-content: center;
	}

	&__link {
		+ .social__link {
			margin-left: 0.5rem;
		}
	}

	svg {
		width: 2em;
		height: 2em;
	}
}

.input {
	background-color: var(--white);
	color: var(--blueDark);
	height: 48px;
	padding: 0 2em;
	border-radius: 0.25em;
	border: 1px solid v("blueDark");
	box-shadow: 0 0 8px -2px adjust(c("blueDark"), $alpha: -0.8);
	transition: box-shadow 0.2s ease;

	&:focus {
		outline: none;
		box-shadow: 0 8px 16px -2px adjust(c("blueDark"), $alpha: -0.8);
	}
}

.btn {
	font-family: Raleway, sans-serif;
	height: 48px;
	padding: 0 2em;
	cursor: pointer;
	white-space: nowrap;

	&--primary {
		color: var(--white);
		font-weight: bold;
		background-color: var(--blueBright);
		border-radius: 0.25em;
		box-shadow: 0 0 8px -2px adjust(c("blueDark"), $alpha: -0.8);
		transition: box-shadow 0.2s ease, background-color 0.2s ease;

		&:hover {
			background-color: adjust(c("blueBright"), $lightness: 10%);
		}

		&:focus {
			outline: none;
			box-shadow: 0 8px 16px -2px adjust(c("blueDark"), $alpha: -0.8);
		}
	}
}

.link {
	color: v("cyan");
	transition: color 0.2s ease;
	position: relative;

	&:hover,
	&:focus {
		color: adjust(c("cyan"), $lightness: 10%);
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 1px;
		background-color: currentColor;
	}

	&--with-icon {
		padding: 0.25em 0;
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 0.5em;

		.icon {
			background-color: currentColor;
			width: 1.15em;
			height: 1.15em;
			border-radius: 0.75em;
			filter: drop-shadow(0 0 2px var(--cyan));
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0.3em;

			svg {
				fill: v("white");
				width: 1em;
				height: 1em;
			}
		}
	}
}

.section {
	@extend %container;
	padding-top: clamp(72px, 96 / 768 * 100vw, 96px);
	padding-bottom: clamp(72px, 96 / 768 * 100vw, 96px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 48px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		text-align: center;
	}

	&__title {
		font-size: clamp(36px, 40 / 1280 * 100vw, 40px);
		line-height: 1.4;
		margin-bottom: 24px;
	}

	&__text {
		+ .section__text {
			margin-top: 16px;
		}
	}

	&__graphic {
		width: 100%;
		height: auto;

		@media screen and (max-width: 768px) {
			order: -1;
		}
	}

	&--intro {
		align-items: center;

		.get-started {
			margin-top: 2rem;
			padding-right: 2rem;

			@media screen and (max-width: 768px) {
				padding-right: 0;
			}
		}
	}

	&--stay-productive {
		--bg-color: hsl(250, 55%, 98%);
		background-color: var(--bg-color);
		position: relative;
		margin-top: 114px;
		align-items: center;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 114px;
			background: url("../images/bg-curve-desktop.svg") top / cover no-repeat;
			transform: translateY(-100%);
			z-index: -1;

			@media screen and (max-width: 768px) {
				background: url("../images/bg-curve-mobile.svg") top / cover no-repeat;
				height: 53px;
			}
		}

		.section__title {
			white-space: nowrap;
			font-size: clamp(26px, 40 / 1280 * 100vw, 40px);

			@media screen and (max-width: 1110px) {
				white-space: initial;
			}
		}

		.section__text {
			max-width: 55ch;

			@media screen and (max-width: 768px) {
				text-align: left;
				max-width: unset;
			}
		}

		.link {
			margin-top: 1rem;

			@media screen and (max-width: 768px) {
				margin: 2rem 0;
			}
		}

		.testimonial {
			margin-top: 3rem;

			@media screen and (max-width: 768px) {
				margin: 0 auto;
				margin-top: 1rem;
			}
		}
	}

	&--get-early-access {
		background-color: v("blueDesaturated");
		color: v("white");
		align-items: center;

		.section__header {
			max-width: 55ch;

			@media screen and (max-width: 768px) {
				margin: 0 auto;
			}
		}

		.get-started {
			grid-auto-flow: row;

			.btn {
				justify-self: start;

				@media screen and (max-width: 768px) {
					justify-self: unset;
				}
			}
		}
	}
}

.get-started {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;

	@media screen and (max-width: 768px) {
		grid-auto-flow: unset;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 80vw;
		width: 100%;
		margin: 0 auto;
	}

	.input {
		width: 100%;
	}
}

.testimonial {
	padding: 2rem;
	border-radius: 0.25em;
	background-color: v("white");
	text-align: left;
	box-shadow: 0 0 4px -2px adjust(c("blueDark"), $alpha: -0.8);
	transition: box-shadow 0.2s ease;
	max-width: 40ch;

	&:hover {
		box-shadow: 0 2px 8px -2px adjust(c("blueDark"), $alpha: -0.9);
	}

	&__quote {
		font-size: 14px;
		line-height: 1.7;
		margin: 0;

		&:before {
			content: "❝";
			display: block;
			font-size: 3em;
			line-height: 1;
		}
	}

	&__author {
		margin-top: 1em;
	}
}

.author {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 0.75em;
	font-size: 12px;

	&__image {
		width: 2rem;
		height: 2rem;
		border-radius: 1rem;
	}

	&__name {
		font-weight: bold;
	}
}
